@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hamburger Menu */

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  position: relative;
  /* padding: 1px; */
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 1.5px;
  background: #2e2e2e;
}

.hamburger-middle {
  transform: translateY(8px);
}

.hamburger-bottom {
  transform: translateY(16px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(8px) translate(8px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(8px) translate(-8px);
}

/* TODO: Move these into Tailwind classes */
/* IMDb links */

.imdb-link {
  color: #0c0b00;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: #f5c518;
  padding: 0.5rem 1rem;
  border: 1px #d3d3d3 solid;
  border-radius: 1rem;
}

.imdb-link:hover {
  background-color: #e2b617;
}

/* "Play trailer" buttons */

.trailer-button {
  background-color: #ee2211;
  color: white;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px lightgrey solid;
}

.trailer-button:hover {
  background-color: #c60313;
}

/* Trailer modals */
.modal::backdrop {
  background: rgb(0 0 0 / 0.8);
}

/* When a modal is open, this class is added to the <body> element,
   preventing scrolling */
.modal-open {
  overflow: hidden;
}

/* Tickets page: add "$" and &thinsp; (U+2009) before amount */
.price::before {
  content: "$\2009";
}
